@model ProductKeys.Models.Store

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Store</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            <label>
                <input type="text"
                       id="myText"
                       value=@Html.DisplayFor(model => model.Name) />
            </label>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            <label>
                <input type=" ="text"
                       id="myText"
                       value="@Html.DisplayFor(model => model.Address)"
            </label>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
